<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<rewrite>
	<rules>
		<rule name="catdir">
			<match url="^([a-zA-Z0-9_-]+)/([0-9]*)$" ignoreCase="false" />
			<conditions logicalGrouping="MatchAll">
				<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
				<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
			</conditions>
			<action type="Rewrite" url="index.php?m=content&amp;c=index&amp;a=lists&amp;catid={R:1}&amp;page={R:2}&amp;%{QUERY_STRING}" />
		</rule>
		<rule name="uploadfile">
			<match url="^([\s\S]+)/uploadfile/([0-9]+)/([0-9]+)/([\s\S]+)" ignoreCase="false" />
			<action type="Rewrite" url="uploadfile/{R:2}/{R:3}/{R:4}" />
		</rule>
		<rule name="show">
			<match url="^show-([0-9]+)-([0-9]+)-([0-9]+).html" ignoreCase="false" />
			<action type="Rewrite" url="index.php?m=content&amp;c=index&amp;a=show&amp;catid={R:1}&amp;id={R:2}&amp;page={R:3}" />
		</rule>
		<rule name="content">
			<match url="^content-([0-9]+)-([0-9]+)-([0-9]+).html" ignoreCase="false" />
			<action type="Rewrite" url="index.php?m=content&amp;c=index&amp;a=show&amp;catid={R:1}&amp;id={R:2}&amp;page={R:3}" />
		</rule>
		<rule name="list">
			<match url="^list-([0-9]+)-([0-9]+).html" ignoreCase="false" />
			<action type="Rewrite" url="index.php?m=content&amp;c=index&amp;a=lists&amp;catid={R:1}&amp;page={R:2}" />
		</rule>
	</rules>
</rewrite>
   </system.webServer> 	
</configuration>
