.leftDiv {
    display: inline-block;
    width: 830px;
}
.leftDiv .leftDivChil {
    border-bottom: 1px solid #dddddd;
    padding: 22px 0 36px 0;
}
.leftDiv .leftDivChil .imgDiv {
    position: relative;
    float: left;
}
.leftDiv .imgDiv a {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: -15px;
    display: inline-block;
    width: 200px;
    height: 30px;
    color: #ffffff;
    font-family: "微软雅黑";
    background:#65b4ec;
    text-align: center;
    line-height: 30px;
}
.leftDiv .leftDivChil .txtDiv {
    height: 140px;
    margin-left: 284px;
}
.leftDiv .leftDivChil .txtDiv a {
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    color: #333333;
    font-size: 24px;
}
.leftDiv .leftDivChil .txtDiv a:hover{
    color: #65b4ec
}
.leftDiv .leftDivChil .txtDiv .txtDiva2 {
    font-size: 14px;
    line-height: 30px;
}
.leftDiv .leftDivChil .txtDiv .txtDiva2:hover {
    text-decoration: underline;
}
.rightConDiv {
    float: right;
    width: 235px;
    /*display: inline-block;*/
}
.rightConDiv h3 {
    font-size: 14px;
    color: #333333;
    margin: 12px 0 25px 0;
}
.rightDiv  .rightDivul {

    /*display: inline-block;*/
}
.rightConDiv li {
    margin-bottom: 20px;
}
.rightDivul li a {
    color: #65b4ec;
  font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}
.rightDivul li a:hover {
    text-decoration: underline;
}
.leftDiv .nobor {
    border-bottom: none;
}